<form>
    <h1>Atualizar categoria</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="categoria.nome" type="text" name="nome" placeholder="Ex. Compuntação">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="categoria.descricao" type="text" name="descricao"
            placeholder="Ex. Livros de Compuntação"></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="atualizar()" class="atualizar mat-elevation-z8" mat-stroked-button>
            <mat-icon>check</mat-icon>
            ATUALIZAR
        </button>
        <button (click)="cancelar()" class="mat-elevation-z8" color="warn" mat-stroked-button>
            <mat-icon>delete</mat-icon>
            CANCELAR
        </button>
    </div>

</form>